
/* Extra small devices (Phones, 600px and down) */
@media only screen and (max-width: 600px){
    .Banner{
        height:35%;
        img{
            height: 50%;
        }
    }

    .MobileTop{
        height:50px;
        width:100%;
        background: var(--Figma_Green);
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    .GreenPart-1{
        .Green-1{
            img{
                width:80%;
            }
        }
        .Crocs-1{
            img{
                width:85%;
            }
        }
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){


}

